<app-header titulo="Refresher"></app-header>

<ion-content class="ion-padding">
  <!-- Añadir refresher y lista de elementos -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Si el array no tiene datos, refresca -->
  <h1 class="fadeIn animated" *ngIf="items.length === 0">Arrastre hacia abajo para recargar</h1>

  <!-- Si tiene datos, los muestro -->
  <ion-list class="animated fadeIn" *ngIf="items.length > 0">
    <ion-item class="animated fadeIn" *ngFor="let i of items; let ind = index">
      <ion-label>
        Item {{ ind + 1 }}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
